<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.breiter.mynutrition">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:fullBackupContent="true"
        tools:targetApi="m">
        <activity android:name=".ui.mealNutrition.MealNutritionValueActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.ingredientSearch.SearchIngredientActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ingredientDetail.IngredientDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mealDetail.MealDetailsActivity"
            android:parentActivityName=".ui.mealSaved.SavedMealsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mealSaved.SavedMealsActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>